<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center justify-content-center">
    <div class="container" data-aos="fade-up">

      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
        <div class="col-xl-6 col-lg-8">
          <h1>El Oasis</h1>
          <h2>Salsa <span>·</span> Bachata <span>·</span> Perreo <span>·</span> Merengue <span>·</span> Cumbia</h2>
        </div>
      </div>

    </div>
  </section><!-- End Hero -->


<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div class="col-lg-7 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
          <img src="https://m.media-amazon.com/images/I/61yqxJwL2aL._AC_SL1001_.jpg" class="img-arriba"
            alt="...">
        </div>
        <div class="col-lg-5 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
          <h3>Disfruta de una noche diferente con el mejor Ambiente CUYABRO</h3>
          <p class="font-italic" class="p-encanezado">
            Ven y celebra con nosotros, porque nuestras noches son diferentes y mágicas.
          </p>
          <ul>
            <li><i></i> ✔️Reserva de cumpleaños</li>
            <li><i></i> ✔️Torta y decoración 🎂🎊(PREVIA RESERVA)</li>
            <li><i></i> ✔️Fiesta tématica todos los miércoles</li>
            <li><i></i> ✔️Muchas Sorpresas</li>
          </ul>
          <p>
            Vive la mejor experiencia de discotecas, estamos en la Cra. 14 #19N-46, Armenia, Quindío, ¡te esperamos!
          </p>
        </div>
      </div>

    </div>
  </section><!-- End About Section -->

<span class="span-encabezado"></span>

<app-best-seller></app-best-seller>

 <!-- ======= Cta Section ======= -->
 <section id="cta" class="cta" style="height: 60vh;">
  <div class="container" data-aos="zoom-in">

    <div class="text-center mt-5 mb-5">
      <h3>Síguenos en Instagram</h3>
      <p> No te pierdas ninguna de nuestras novedades y lo que publicamos en nuestra red social para estar al dia
        sobre los proximos eventos en nuestra discoteca.
      </p>
      <a href="https://www.instagram.com/fenix.madrid/" target="_blank"><img id="logoInsta"
          src="./assets/img/instagram.png" alt="instagram discoteca fenix"></a>
    </div>

  </div>
</section><!-- End Cta Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container-fluid" data-aos="fade-up">
        <div class="section-title">
          <!-- <h2>Contacto</h2> -->
          <p class="p-contacto">Contacta con nosotros</p>
        </div>


        <div class="row mt-5">

          <div class="col-lg-3 mt-4">
            <div class="info">
              <div class="address">
                <a href="/">
                  <h4><mat-icon class="iconosNosotros"><img src="./assets/img/mapa.png" alt="" 
                    style="width: 28px; height: 30px;"></mat-icon>  Ubicación:</h4>
                  <p>Cra. 14 #19N-46, Armenia, Quindío. <br>Discoteca El Oasis</p>
                </a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 mt-4">
            <div class="info">
              <div class="email">
                <a href="mailto:info@discotecafenix.com">
                  <h4><mat-icon class="iconosNosotros"><img src="./assets/img/gmail.png" alt="" 
                    style="width: 28px; height: 30px;"></mat-icon>  Email:</h4>
                  <p>info@discotecaoasis.com</p>
                </a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 mt-4">
            <div class="info">
              <div class="phone">
                <a href="/">
                  <h4><mat-icon class="iconosNosotros"><img src="./assets/img/instagram.png" alt="" 
                    style="width: 28px; height: 30px;"></mat-icon>  Instagram:</h4>
                  <p>@osasis.discotec</p>
                </a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 mt-4">
            <div class="info">
              <div class="phone">
                <h4><mat-icon class="iconosNosotros"><img src="./assets/img/calendario.png" alt="" 
                  style="width: 28px; height: 30px;"></mat-icon>  Horario:</h4>
                <p>De Miércoles a Domingos: 22:00-6:00</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3977.3483313564825!2d-75.70347068568651!3d4.531137944367246!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e385fa18f9e0a31%3A0x16b6f743f630911c!2sMotel%20Platinos!5e0!3m2!1ses!2sco!4v1670797531781!5m2!1ses!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section><!-- End Contact Section -->